*.class
*.log

# sbt specific
.bsp
.cache
.history
.lib/
dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ specific
.idea/

# ENSIME specific
.ensime
.ensime_cache

# Metals specific
.bloop/
.metals/
metals.sbt
